body {
  background: #F9F9F9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-wrap: break-word;
}

.container {
  margin: 0 auto;
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* */

.title-h1 {
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  margin-bottom: 45px;
  text-align: center;
}

.title-h2 {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.title-h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

/* */

.paragraph {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: center;
}

.paragraph-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #FFFFFF;
  text-align: start
}

.paragraph-small {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 10pxpx;
}

/* */

button {
  padding: 25px 41px;
  border: none;
  margin: 40px 0 100px;
  background: #34547A;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
}

button:hover {
  filter: brightness(1.25);
}

button:active {
  filter: brightness(0.75);
}

.btn-small {
  padding: 20px 40px;
  margin-bottom: 40px;
}

/* */

header .container {
  align-items: baseline;
}

.logo__link {
  margin: 22px 0 67px;
  height: 60px;
  font-family: 'Revalia';
  font-size: 48px;
  color: #34547A;
  text-decoration: none;
}

.navbar {
  display: none;
}

.first-screen {
  background: #EEEFF1;
}

.first-screen__image {
  margin-bottom: 50px;
}

/* */

.about-me {
  padding: 90px 0 80px;
}

/* */

.numbers {
  
  background: #34547A;
}

.numbers__list {
  padding: 30px 0;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 30px;
}

.numbers__item {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 45px 0;
}

.numbers__text {
  margin: 3px 0;
}

/* */

.skills__content {
  margin-bottom: 100px;
}

.skills__text {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__item .paragraph-start {
  text-align: start;
}

.skills-bar {
  margin: 20px 0 30px 0;
  background: #C4C4C4;
}

.bar {
  display: block;
  width: 100%;
  height: 4px;
}

.skills-bar__progress {
  width: 80%;
  background: #34547A;
}

.skills__image {
  margin: 100px 0;
}

.skills__content .container {
  display: flex;
  flex-direction: column-reverse;
}

.skills__content {
  margin-bottom: 100px;
}

/* */

.video {
  background: #EEEFF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__content {
  padding: 100px 0;
}

.video__player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.video__image {
  position: relative;
}

.play__image {
  position: absolute;
  width: 75px;
}

/* */

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  margin: 28px 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
}

.gallery__image {
  background-color: rgba(52, 84, 122, 0.8);
}

.gallery__image:hover .projects__image {
  opacity: 0.3;
  transition: .2s ease;
}

.icon__image {
  opacity: 0;
  position: absolute;
}

.eye-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__image:hover .icon__image {
  opacity: 1;
  transition: .2s ease;
}

/* */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #EEEFF1;
  padding: 0;
}

.form__content {
  padding: 100px 0 60px;
}

.user-data {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

.user-data__input {
  display: block;
  width: 100%;
  background: #FFFFFF;
  height: 50px;
  border: none;
  outline: none;
  margin: 0 15px 20px 15px;
  padding: 17px 20px
}

.user-data__textarea {
  display: block;
  width: 100%;
  height: 175px;
  resize: none;
  border: none;
  outline: none;
  padding: 17px 20px
}

/* */

.bottom {
  background: #34547A;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 40px;
}

.bottom__logo {
  display: flex;
  gap: 22px;
  margin-bottom: 50px;
}

.bottom__logo__image {
  height: 23px;
}